html,body {
    width:100%;
    height:100%;
    align-items: center;
    font-family: Arial, sans-serif;
    justify-content: center;
}
body {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    background-repeat: no-repeat;
}

.title {
    width:100%;
    height:50px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 40px;
    top:30px;
    position: relative;
    
}

#login-title{
    color:black;
    position: absolute;
    font-size:30px;
    font-weight: bold;
    left:-20px;
    width:50%;
    text-decoration: none;
    
}

#login-title:hover {
    text-decoration:underline;
}
#register-title
{
    color:white;
    font-size:30px;
    font-weight: bold;
    position: absolute;  
    right:20px;
    width:50%;
    text-decoration: none;
}

.form_register {
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
}

.box-register {
    display: block;
    position: absolute;
    top: 10%;
    left: 27%;
    width: 45%;
    height:70%;
    background-color: rgba(255, 255, 255, 0.3);;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ccc; 
}


.box-username,.box-password,.box-confirm-password {
    position:relative;
    width:100%;
    height: 70px;
}

#name,#pass,#confirm {
    position:absolute;
    left:50px;
    width:80%;
    height:80%;
    font-size: 20px;
    background-color: #e2e1e1;
}

#name:hover,#pass:hover,#confirm:hover {
    background-color: white;
}

#label-user,#label-pass,#label-confirm {
    position: absolute;
    left:50px;
    font-weight: bold;
    cursor: pointer;
    top:-5px;
}


#register-button {
    position:absolute;
    bottom:5%;
    left:30%;
    width:40%;
    height:50px;
    font-size:20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}