@media (min-width: 768px) {
    .menu-avatar{
        display: block;
        text-align: center;
    }
    .menu-avatar-image{
        position:static;
        left:0px;
        top:0px;
        height:80px;
        width:80px;
        border-radius:50px
    }
    .menu-greeting-text{
        position:static;
        left:0px;
        font-size:10px
    }
    .menu-item{margin:0;font-size:12px;width:30%;height:calc(60vh / 10)}
    .setting,.logout{
        position: absolute;
        
    }
}
